<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>piece_01.png</key>
<dict>
<key>frame</key>
<string>{{0,76},{76,74}}</string>
<key>offset</key>
<string>{-1,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{1,3},{76,74}}</string>
<key>sourceSize</key>
<string>{80,80}</string>
</dict>
<key>piece_02.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{76,76}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{2,2},{76,76}}</string>
<key>sourceSize</key>
<string>{80,80}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>chesspiece_0.png</string>
<key>size</key>
<string>{128,256}</string>
<key>TextureFileName</key>
<string>chesspiece_0.png</string>
</dict>
</dict>
</plist>
